<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="deep-orange lighten-4">
<div class="navbar-fixed">
    <nav class="red" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">RoutesApp</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="/points/">Point</a></li>
                <li><a href="/categories/">Category</a></li>
                <li><a href="/cities/">City</a></li>
                <li><a href="/route/">Routes</a></li>
                <li><a href="/admin/">Sign In</a></li>

            </ul>

            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<ul id="nav-mobile" class="sidenav">
    <li><a href="/points/">Point</a></li>
    <li><a href="/categories/">Category</a></li>
    <li><a href="/cities/">City</a></li>
    <li><a href="/route/">Routes</a></li>
    <li><a href="/admin/">Sign In</a></li>
</ul>


<div class="row z-depth-5 deep-orange lighten-2 hoverable container">
    <div>
        <div class="col s6 m6 l12">
            <div class="card deep-orange lighten-2">
                {{user.get_full_name}}
                <ul>
                    <li>Username: {{user.username}}</li>
                    <li>Birthday: {{user.person.birthday}}</li>
                    <li>Biography: {{user.person.biography}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
</body>
</html>