<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Point</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
</head>

<body class="deep-orange lighten-4">
<nav class="red" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">RoutesApp</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="/points/">Point</a></li>
            <li><a href="/categories/">Category</a></li>
            <li><a href="/cities/">City</a></li>
            <li><a href="/route/">Routes</a></li>
            <li><a href="/admin/">Sign In</a></li>

        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/points/">Point</a></li>
            <li><a href="/categories/">Category</a></li>
            <li><a href="/cities/">City</a></li>
            <li><a href="/route/">Routes</a></li>
            <li><a href="/admin/">Sign In</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<h3 class="center">Point Map</h3>
    <div class="container">
                               <div id="map"></div>
                </div>
    <script>
      function initMap() {
         var lat = parseFloat(location.href.match(/[?&]lat=([^&]+)/)[1]);
         var lng = parseFloat(location.href.match(/[?&]lon=([^&]+)/)[1]);
         var name = location.href.match(/[?&]name=([^&]+)/)[1];

        var uluru = {lat, lng};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: name
        });


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMV9QqzF2vlTo11uFOERIVEdbBzQrS1Vc&callback=initMap">
    </script>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
</body>
</html>